@import '../../_css/common';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 45%;
  height: 100vh;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-1.svg');
  }

  p {
    color: var(--color-gray-500);
  }
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  h3 {
    margin: 0;

    @include mid-break {
      font-size: 34px;
      margin-bottom: 8px;
    }
  }

}


.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  @include mid-break {
    justify-content: flex-start;
    padding: 10px;
  }
}

.formContainer {
  max-width: 600px;
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  text-align: center;

  @include mid-break {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  @include small-break {
    padding: 30px;
  }
}

.params {
  margin-top: var(--base);
}